# Settings for this customised version of Immich (github.com/ssjrocks/immich).
# Rename this file to .env, then edit the values below.

# Where your photos and videos are stored
UPLOAD_LOCATION=./library

# Where the database is stored. Keep this on a local disk: network shares are not supported
DB_DATA_LOCATION=./postgres

# Which release to run: 'latest', or a tag from https://github.com/ssjrocks/immich/releases
IMMICH_VERSION=latest

# Database password. Change it to something random, letters and numbers only
DB_PASSWORD=postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
